body{
    background-color: rgb(51, 102, 153);
}

#grid{
    display: grid;
    text-align: center;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 400px 400px 400px 400px 400px;
}

.header{
    color: rgb(255, 255, 255);
    font-size: 350%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
#h1{
    display: block;
}
#h2{
    display: none;
}

.buttons{
    color: rgb(255, 255, 255);
    font-size: 250%;
    font-family: 'Roboto', sans-serif;
    margin-left: 5%;
    margin-top: -90px;
    cursor: pointer;
}
#back1{
    display: none;
    width: 150px;
}

.cell{
    border: solid 5px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 200%;
    font-family: 'Roboto', sans-serif;
}

.images{
    margin: auto;
    margin-top: 70px;
    width: 300px;
    height: 200px;
    border: solid 5px rgb(255, 255, 255);
    display: block;
}
.images2{
    margin: auto;
    margin-top: 35px;
    width: 300px;
    height: 200px;
    border: solid 5px rgb(255, 255, 255);
    display: block;
}

.chart1{
    display: none;
}
.chart2{
    display: none;
}
.chart3{
    display: none;
}
.chart4{
    display: none;
}
.chart5{
    display: none;
}

#chi1{
    width: 900px;
    height: 950px;
    border: solid 17px rgb(255, 255, 255);
}
#chi2{
    width: 900px;
    height: 1250px;
    border: solid 17px rgb(255, 255, 255);
}
#chi3{
    width: 900px;
    height: 1250px;
    border: solid 17px rgb(255, 255, 255);
}
#chi4{
    width: 900px;
    height: 1250px;
    border: solid 17px rgb(255, 255, 255);
}
#chi5{
    width: 900px;
    height: 1250px;
    border: solid 17px rgb(255, 255, 255);
}
#chi6{
    width: 900px;
    height: 1250px;
    border: solid 17px rgb(255, 255, 255);
}
#chi7{
    width: 900px;
    height: 100px;
    outline: solid 17px rgb(255, 255, 255);
    border: solid 2px black;
}
#mcd1{
    width: 900px;
    height: 1250px;
    border: solid 17px rgb(255, 255, 255);
}
#mcd2{
    width: 900px;
    height: 500px;
    border: solid 17px rgb(255, 255, 255);
}
#mcd3{
    width: 900px;
    height: 1250px;
    border: solid 17px rgb(255, 255, 255);
}
#mcd4{
    width: 900px;
    height: 1250px;
    border: solid 17px rgb(255, 255, 255);
}
#mcd5{
    width: 900px;
    height: 550px;
    border: solid 17px rgb(255, 255, 255);
}
#mac1{
    width: 900px;
    height: 550px;
    border: solid 17px rgb(255, 255, 255);
}
#mac2{
    width: 900px;
    height: 700px;
    border: solid 17px rgb(255, 255, 255);
}
#mac3{
    width: 900px;
    height: 1100px;
    border: solid 17px rgb(255, 255, 255);
}
#mac4{
    width: 900px;
    height: 1100px;
    border: solid 17px rgb(255, 255, 255);
}
#mac5{
    width: 900px;
    height: 1100px;
    border: solid 17px rgb(255, 255, 255);
}
#mac6{
    width: 900px;
    height: 900px;
    border: solid 17px rgb(255, 255, 255);
}
#mac7{
    width: 900px;
    height: 700px;
    border: solid 17px rgb(255, 255, 255);
}
#mac8{
    width: 900px;
    height: 70px;
    border: solid 17px rgb(255, 255, 255);
}
#sta1{
    width: 1100px;
    height: 600px;
    border: solid 17px rgb(255, 255, 255);
}
#sta2{
    width: 1100px;
    height: 500px;
    border: solid 17px rgb(255, 255, 255);
}
#sta3{
    width: 1100px;
    height: 550px;
    border: solid 17px rgb(255, 255, 255);
}
#sta4{
    width: 1100px;
    height: 550px;
    border: solid 17px rgb(255, 255, 255);
}
#sta5{
    width: 1100px;
    height: 550px;
    border: solid 17px rgb(255, 255, 255);
}
#sta6{
    width: 1100px;
    height: 600px;
    border: solid 17px rgb(255, 255, 255);
}
#sta7{
    width: 1100px;
    height: 600px;
    border: solid 17px rgb(255, 255, 255);
}
#sta8{
    width: 1100px;
    height: 500px;
    border: solid 17px rgb(255, 255, 255);
}
#sta9{
    width: 500px;
    height: 40px;
    border: solid 17px rgb(255, 255, 255);
}
#sub1{
    width: 900px;
    height: 900px;
    border: solid 17px rgb(255, 255, 255);
}
#sub2{
    width: 900px;
    height: 1400px;
    border: solid 17px rgb(255, 255, 255);
}
#sub3{
    width: 900px;
    height: 700px;
    border: solid 17px rgb(255, 255, 255);
}

#a1{
    border-top: solid 10px rgb(255, 255, 255);
    border-left: solid 10px rgb(255, 255, 255);
}
#a2{
    border-top: solid 10px rgb(255, 255, 255);
}
#a3{
    border-top: solid 10px rgb(255, 255, 255);
    cursor: pointer;
}
#a4{
    border-top: solid 10px rgb(255, 255, 255);
    border-right: solid 10px rgb(255, 255, 255);
}
#b1{
    border-left: solid 10px rgb(255, 255, 255);
}
#b3{
    cursor: pointer;
}
#b4{
    border-right: solid 10px rgb(255, 255, 255);
}
#c1{
    border-left: solid 10px rgb(255, 255, 255);
}
#c4{
    border-right: solid 10px rgb(255, 255, 255);
    cursor: pointer;
}
#d1{
    border-left: solid 10px rgb(255, 255, 255);
}
#d4{
    border-right: solid 10px rgb(255, 255, 255);
    cursor: pointer;
}
#e1{
    border-left: solid 10px rgb(255, 255, 255);
    border-bottom: solid 10px rgb(255, 255, 255);
    cursor: pointer;
}
#e2{
    border-bottom: solid 10px rgb(255, 255, 255);
}
#e3{
    border-bottom: solid 10px rgb(255, 255, 255);
}
#e4{
    border-right: solid 10px rgb(255, 255, 255);
    border-bottom: solid 10px rgb(255, 255, 255);
}
